## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
def power4(num):
  num=num*num*num*num
  print(num)

power4(7)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
txt="Hi there sam!"
x=txt.split()
print(x)

['Hi', 'there', 'sam!']

In [3]:
txt="Hi there dad!"
y=txt.split()
print(y)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [7]:
txt="The diameter of earth is {diameter:.2f} kilometers"
print(txt.format(diameter=12742))

The diameter of earth is 12742.00 kilometers

In [8]:
txt="The diameter of earth is {diameter:.2f} kilometers"
print(txt.format(diameter=12742))

The diameter of earth is 12742.00 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [35]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [47]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [54]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [53]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [68]:
1.List is dynamic , Tuple is static characteristic.
2.List is mutable , Tuple is Immutable.
3.List consume more memory , Tuple comsumes Less memore compared to Tuple.
4.List Example: list[v,i,j,a,y] , Tuple Example: tuple(v,i,j,a,y)

'\n1.List is dynamic , Tuple is static characteristic.\n2.List is mutable , Tuple is Immutable.\n3.List consume more memory , Tuple comsumes Less memore compared to Tuple.\n4.List Example: list[v,i,j,a,y] , Tuple Example: tuple(v,i,j,a,y) '

** Create a function that grabs the email website domain from a string in the form: **

> Indented block



    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com** *italicized text*

In [57]:
def domainGet(email):
    return email.split('@')[-1]

In [58]:
domainGet('user@domain.com')

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [59]:
def findDog(st):
    return 'dog' in st.lower().split()

In [60]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [61]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [62]:
countDog('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [63]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
caught_speeding(81,False)

'Big Ticket'

In [64]:
caught_speeding(81,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [65]:
def employee_details(name,emp_id,ctc,designation,exp):
  print("\n Name:-",name)
  print("Emp_ID:-",emp_id)
  print("CTC:-",ctc)
  print("Designation:-",designation)
  print("Exprience:-",exp)
employee_details(" Vijay",421319104045,"6.6LPA","BE-CSE IV Year","5 years")
employee_details("Ajay",421319104046,"6.5LPA","BE-CSE IV Year","4 years")
employee_details("Ajith",421319104047,"6.4LPA","BE-CSE IV Year","3 years")
employee_details("Madhavan",421319104048,"6.3LPA","BE-CSE IV Year","2 years")
employee_details("John",421319104049,"6.2LPA","BE-CSE IV Year","1 years")
Sal_exp=[6.6+6.5+6.4+6.3+6.2]
Salary=0
for i in Sal_exp:
  Salary=Salary+i
  print("\n Total Salary Expenditure is:-", Salary, "LPA")

 Name:-  Vijay
Emp_ID:- 421319104045
CTC:- 6.6LPA
Designation:- BE-CSE IV Year
Exprience:- 5 years

 Name:- Ajay
Emp_ID:- 421319104046
CTC:- 6.5LPA
Designation:- BE-CSE IV Year
Exprience:- 4 years

 Name:- Ajith
Emp_ID:- 421319104047
CTC:- 6.4LPA
Designation:- BE-CSE IV Year
Exprience:- 3 years

 Name:- Madhavan
Emp_ID:- 421319104048
CTC:- 6.3LPA
Designation:- BE-CSE IV Year
Exprience:- 2 years

 Name:- John
Emp_ID:- 421319104049
CTC:- 6.2LPA
Designation:- BE-CSE IV Year
Exprience:- 1 years

 Total Salary Expenditure is:- 32.0 LPA

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [66]:
dict1={"EmpID":5,"EmpName":'Vijay',"BasicPay":'5.5CTC'}
dict2={"DeptName":'CSE',"DeptID":104}
print(dict1)
print(dict2)

{'EmpID': 5, 'EmpName': 'Vijay', 'BasicPay': '5.5CTC'}
{'DeptName': 'CSE', 'DeptID': 104}

In [67]:
def Merge(dict1, dict2):
  return(dict2.update(dict1))
dict1={"EmpID":5,"EmpName":'Vijay',"BasicPay":'5.5CTC'}
dict2={"DeptName":'CSE',"DeptID":104}
print(Merge(dict1,dict2))
print(dict2)

None
{'DeptName': 'CSE', 'DeptID': 104, 'EmpID': 5, 'EmpName': 'Vijay', 'BasicPay': '5.5CTC'}